name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install backend dependencies
        working-directory: ./backend
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest ruff

      - name: Lint backend with Ruff
        working-directory: ./backend
        run: |
          source venv/bin/activate
          ruff check .

      - name: Run backend tests
        working-directory: ./backend
        run: |
          source venv/bin/activate
          pytest tests/

      - name: Install frontend dependencies
        working-directory: ./frontend
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install ruff

      - name: Lint frontend with Ruff
        working-directory: ./frontend
        run: |
          source venv/bin/activate
          ruff check .

      - name: Install MkDocs
        run: pip install mkdocs mkdocs-material

      - name: Deploy Documentation
        working-directory: docs/pipline-ci-cd
        run: mkdocs gh-deploy --force

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push Backend Image
        working-directory: ./backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest

      - name: Build and Push Frontend Image
        working-directory: ./frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest
